/*  Zepto Alert Dialogs Plugin Css
    Version 2.0
    iancj
    2014-05-09
    Visit http://github.com/iancj/ for more information
*/

* {
    margin:0;
    padding:0
}
dl, ul {
    list-style:none
}
a {
    text-decoration:none;
    color:#000
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%
}
.popup-container {
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-135px;
    padding:8px;
    width:245px;
    background-color:#fff;
    border:5px solid #989898;
    z-index:99999
}
.popup-container .popup-panel {
    text-align:center
}
.popup-title {
    font-size:15px
}
.popup-title::before {
    display:inline-block;
    content:" ";
    width:13px;
    height:13px;
    margin-right:3px;
    background:url(Images/icon.png) no-repeat;
    background-size:13px auto
}
.popup-title.success::before {
    background-position:0 0
}
.popup-title.warning::before {
    background-position:0 -13px
}
.popup-title.error::before {
    background-position:0 -26px
}
.popup-title.help::before {
    background-position:0 -39px
}
.popup-container .popup-content {
    min-height:50px;
    padding:8px 0;
    line-height:1.5em;
    color:#999;
    font-size:13px
}
.popup-container .popup-panel a {
    display:inline-block;
    width:120px;
    height:30px;
    line-height:30px;
    color:#fff;
    background:#53B8C0
}
.popup-container .popup-panel a:first-child {
    margin-right:5px
}
.popup-panel a.popup-cancel {
    background:#CCC
}
.popup-overlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0, 0, 0, .5);
    z-index:9999
}
